<% var artistNum = 0 %>
<% var colCount = 0 %>
<% while (artistNum < artists.length) { %>
  <div class="row">
    <% if (artists.length - artistNum >= 3) { %>
      <% colCount = 3 %>
    <% } else { %>
      <% colCount = artists.length - artistNum %>
    <% } %>
    <% for (var i = 0; i < colCount; i++) { %>
        
      
    <a class="col-xs-4 badge_container" 
      href="<%= '#/artists/' + artists.models[artistNum + i].get('id') %>">
      <div class="col-xs-3">
        <img class="avatar" 
          src="<%= artists.models[artistNum + i].get('image_url') %>">
        <img>
      </div>
      <div class="col-xs-9">
        <div class="row">
          <div class="artist_name">          
            <%= artists.models[artistNum + i].get('artistname') %>
          </div>
        </div>
        <div class="row">
          <div class="artist_name">          
            <%= artists.models[artistNum + i].get('iq') %>
          </div>
        </div>
      </div>
    </a>
    
    <% } %>
  </div>
   
  <% artistNum += colCount %>
<% } %>  
