<h1>ADD A NEW ARTIST</h1>

<form role="form" class="form-horizontal" autocomplete="off">
  <div class="form-group col-xs-7">
    <label>Artist Name
      <input type="text" name="artist[artistname]" id="artist_name" class="form-control">
    </label>
    
    <label>Photo
      <input
        type="filepicker"
        name="artist[filepicker_url]"
        class="form-control"
        data-fp-mimetype="image/*">
    </label>
    
    <label>About
      <textarea name="artist[about]" rows="30" class="form-control"></textarea>
    </label>
    <button type="submit" class="btn btn-default">Submit</button>
  </div>
</form>