<form>
  <label>Artist Name
    <input type="text" name="artist[artistname]" id="artist_name">
  </label>
  <br>
  <label>About
    <textarea name="artist[about]" rows="8" cols="40"></textarea>
  </label>
  <input type="submit">
</form>