<div class="row">
  <div class="col-xs-6">
    <% for (var i = 0; i < tracks.length; i++) { %>
      <a href="<%= '#/tracks/' + tracks.models[i].id %>">
        <div class="panel panel-default">
          <div class="panel-body">
            <span class="track"><%= tracks.models[i].attributes.title %></span> <span class="track-by">by</span> <span class="track-artist"><%= tracks.models[i].attributes.artist.artistname %></span>
          </div>
        </div>
      </a>
    <% } %>
  </div>
  
  <div class="col-xs-6">
    <center>
      <h1>RYAN O'DONNELL'S</h1>
      <h1>OFFICIAL</h1>
      <h1><a href="http://www.rapgenius.com">RAP GENIUS</a></h1>
      <h1>CLONE</h1>
    </center>
  </div>
</div>
