/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import "bootstrap";
@import url(http://fonts.googleapis.com/css?family=Candal);
@import url(http://fonts.googleapis.com/css?family=Ubuntu+Mono:400,400italic);
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);

$color-light-green: #79cc36;
$color-dark-green: #192b0b;
$color-yellow: #ffc31c;
$color-grey: #333;
$color-dark-grey: #111;
$color-light-blue: #05aae5;
$color-light-grey: #b0b0b0;
$color-grey: #1c1c1c;
$color-highlight: #a0a0a0;

body {
  background-color: black;
  color: white;
}

h1 {
  color: $color-light-green;
  font-weight: bold;
}

label {
  width: 100%;
}

#navbar {
  border-bottom: 2px solid $color-yellow;
}

.row {
  margin-left: 0px;
  margin-right: 0px;
}

.alert {
  margin-bottom: 0px;
}

.navbar-right {
  padding-right: 15px;
}

#annotation-pic {
  width: 500px;
}