// Place all the styles related to the tracks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.tt-dropdown-menu {
    width:100%;
}
.twitter-typeahead {
    width: 100%;
}

.tt-suggestions {
    background-color: #ffffff;
    border: solid #000000 1px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    
}

.tt-suggestion {
    padding-left: 10px;
    border-bottom: solid #000000 1px;
}

.tt-suggestion:hover {
    background-color: darkgray;
}

label {
  width: 100%;
}

#lyrics {
  white-space: pre-wrap;
  color: #FFC31C;
}